<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :flav_profile %>
    <%= f.input :recipe_type %>
    <%= f.input :brewery_name %>
    <%= f.input :description %>
    <%= f.input :label %>
    <%#= f.association :user_id %>
    <%#= f.association :style_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
